{% extends "./layout/default.html"%} 

{% block title%}购物车{% endblock %} 

{% block style%}
<style scoped>
    .cart-list{
        border-top: 1px dashed rgba(0,0,0, .2);
        border-bottom: 1px dashed rgba(0,0,0, .2);
        padding: .7rem 0;
        margin: 0 1rem;
        color: #888;
    }
    .cart-img{
        margin: 0 .8rem;
        height:4rem;
    }
</style>
{% endblock %} 

{% block main %}
<div class="page-group">
    <div class="page page-current bg-white">

        <header class="bar bar-nav">
            <button class="button button-link button-nav pull-left">
              <span class="icon icon-left"></span>
              返回
            </button>
            <h1 class="title">购物车</h1>
        </header>

        <ul class="content p0 m0">
            <li class="flex cart-list">
                <img src="../images/logo.png" class="cart-img">
                <div class="flex column column-col-around f07 item">
                    <span>红茶 xxx</span>
                    <span>规格: <span>239g</span></span>
                    <div class="flex">
                        <div class="number-pag">
                            <button class="button lower"><i class="fa fa-angle-left"></i></button>
                            <input value="0" type="number" style="width:2rem">
                            <button class="button add"><i class="fa fa-angle-right"></i></button>
                        </div>
                        <p class="total rmb m0 ml1 flex col-center">250.00</p>
                    </div>
                </div>
            </li>
        </ul>

        <div style="position: fixed; bottom: 0;left:0;right:0" class="flex row-between p1">
            <img src="#" style="width:5rem;height:1.5rem;">
            <span>总价: <b class="rmb">123124.00</b></span>
        </div>

    </div>
</div>
{% endblock %}


{% block script %}
{% endblock %}