{% extends "./layout/default.html"%} 

{% block title%}欢迎页{% endblock %} 

{% block style%}
<style scoped>
    .count{
        font-weight: lighter;
        font-size: .8rem;
    }
</style>
{% endblock %} 

{% block main %}
<div class="page-group">

    <div class="page page-current">
        <div class="content background-page" style="background-image:url(../images/bg2.jpg)">

            <div class="control form-control">
                <h4 class="text-center">客观，欢迎来到之乎者也</h4>
                <p class="text-center count">会员积分 <span>0</span> 分</p>

                <div class="submit-btn ">
                    <button>点击详情</button>
                </div>

                <img class="logo-bottom" src="../images/logo.png" alt="logo">
            </div>

        </div>
    </div>


</div>
{% endblock %} 

{% block script %}

{% endblock %}