{% extends "./layout/default.html"%} 

{% block title%}会员专属{% endblock %} 

{% block style%}

{% endblock %} 

{% block main %}
<div class="page-group">

    <div class="page page-current">
        <div class="content background-page flex column" style="background-image:url(../images/bg.jpg)">

            <img src="../images/zhuanshu.png" class="topimg" style="width: 40%;">
            <div>
                <div class="form-control">
                    <button class="form-btn">会员专属优惠</button>
                    <button class="form-tag">会员专属优惠</button>
                    <textarea></textarea>
                </div>

                
            </div>
            <div class="absolute-bottom">
                <div class="submit-btn">
                    <button>返回</button>
                </div>
                <img class="logo-bottom" src="../images/logo.png" alt="logo">
            </div>


        </div>
    </div>


</div>
{% endblock %} 

{% block script %}

{% endblock %}