{% extends "./layout/default.html"%} 

{% block title%}会员专属{% endblock %} 

{% block style%}

{% endblock %} 

{% block main %}
<div class="page-group">

    <div class="page page-current">
        <div class="content background-page flex flex-center" style="background-image:url(../images/bg.jpg)">

            <div>
                <img src="../images/zhuanshu.png" class="topimg" style="width: 40%;">
                <div class="form-control" style="margin:0;border:1px dashed gray;height:400px;width: 100%;line-height: 400px;text-align: center;">
                    文字区域
                </div>

                <img class="logo-bottom" src="../images/logo.png" alt="logo">
            </div>

        </div>
    </div>


</div>
{% endblock %} 

{% block script %}

{% endblock %}