<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--QQ 浏览器x5内核定制标签说明-->
    <!--全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--竖屏-->
    <meta name="x5-orientation" content="portrait">
    <!--应用模式-->
    <meta name="x5-page-mode" content="app" />

    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
    <link rel="stylesheet" href="../css/base.css">
    {% block style %}{% endblock %}
</head>
<body>
    {% block main %}{% endblock %}

    <!--lib-->
    <!--<script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>-->
    <script src="../lib/zepto/zepto.min.js"></script>
    <script src="../lib/zepto/touch.js"></script>

    <!-- <script src='https://g.alicdn.com/msui/sm/0.6.2/js/'></script> -->
    <script src="../lib/sui/sm.js"></script>

    <script src="../lib/swiper/swiper.min.js"></script>
    
    <!--js-->


    {% block script %}{% endblock %}
    <script>
        $.init();
    </script>
</body>
</html>
